
.crew .containers{
    height: 90%;
}
.crew .role{
    font-size: clamp(1.5em,5vw,2em);
    text-transform: uppercase;
    font-weight: 400;
    color: #666;
}
.crew .h2{
    font-size: clamp(2em,4vw,3.5em);
    text-transform: uppercase;
    font-weight: 400;
    padding: 10px 0 20px;
}
.crew .p{
    font-size: clamp(1em,2vw,1.2em);
    font-family: var(--font-family-2);
    font-weight: 400;
    color: var(--gray);
    line-height:1.3em;
}
.crew .destination__box-1{
    display: flex;
    flex-direction: column;
    max-width: 500px;
    width: 100%;
}
.crew .main .nav{
    margin-top: 100px 0 0 ;
    padding: 1em 0;
}
.crew .ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 2em;
    width: 100%;
    justify-content: center;
}
.crew .bnt{
    display: block;
    padding: 10px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    background-color: #666;
    transition: background-color .3s;
}
.crew .bnt:hover{
    background-color: var(--white);
}
.crew .bnt.select{
    background-color: var(--white);
}
.crew .destination__box-2{
    border-bottom: 2px solid rgba(102, 102, 102, 0.336);
}

@media screen and (min-width: 836px) {
    .crew .ul{
        justify-content: flex-start;
    }
    .crew .main .nav{
        padding: 2em 0;
    }
    .crew .destination__box-1{
        max-width: 620px;
    }
}