:root{
    --white: #fff;
    --gray: rgb(210, 216, 249);
    --font-family-1: 'Bellefair', serif;
    /*400*/
    --font-family-2: 'Barlow Condensed', sans-serif;
    /*400 600*/
}

*{
    margin: 0;
    padding: 0;
    font-family: var(--font-family-1);
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    width: 100vw;
    min-width: 375px;
    color: var(--white);
    box-sizing: border-box;
    display: grid;
    grid-template-rows: auto 1fr;
    background-size: cover;
    overflow-x: hidden;
}

.max-width{
    max-width: 1660px;
    margin:  0 auto;
}

.select{
    width: 100% !important;
}

/* Containers */

.containers{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 90%;
}

.main{
    width: 100%;
    padding: 2em;
}

.main__h1{
    font-family: var(--font-family-2);
    text-transform: uppercase;
    word-spacing: 10px;
    font-weight: 400;
    padding: 0 0 1em;
}

.main__span{
    font-family: var(--font-family-2);
    font-weight: bolder;
    color: #666;
}

.destination__box-1,
.destination__box-2{
    flex-grow: 1;
    flex-shrink: 1;
    width: 100%;
    max-width: 450px;
    min-width: 350px;
    text-align: center;
}

.destination__box-1 img,
.destination__box-2 img{
    width: 100%;
    display: block;
}

@media screen and (min-width: 567px) and (max-width: 835px){
    .destination__box-1,
    .destination__box-2{
        max-width: 300px;
    }
}

@media screen and (min-width: 836px) {
    .containers{
        justify-content: space-evenly;
        gap: 2em;
        align-items: stretch;
    }
    .destination__box-1,
    .destination__box-2{
        text-align: left;
        max-width: 600px;
        max-height: 650px;
        width: 1px;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .destination__box-1 img,
    .destination__box-2 img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
    }
    .destination__box-1 .p,
    .destination__box-2 .p{
        min-height: 100px;
    }
}