@import "./general.css";
@import "./nav.css";
@import "./home.css";
@import "./destination.css";
@import "./crew.css";
@import "./technology.css";
@import "./loader.css";

.home{
    background-image: url("../assets/home/background-home-mobile.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.destination{
    background-image: url("../assets/destination/background-destination-mobile.jpg");
    background-position: center center;
    background-repeat: no-repeat;
}
.crew{
    background-image: url("../assets/crew/background-crew-mobile.jpg");
    background-position: center center;
    background-repeat: no-repeat;
}
.technology{
    background-image: url("../assets/technology/background-technology-mobile.jpg");
    background-position: center center;
    background-repeat: no-repeat;
}  

@media screen and (min-width: 567px) and (min-width: 835px){
    .home{
        background-image: url("../assets/home//background-home-tablet.jpg");
    }
    .destination{
        background-image: url("../assets/destination/background-destination-tablet.jpg");
    }   
    .crew{
        background-image: url("../assets/crew/background-crew-tablet.jpg");
    }  
    .technology{
        background-image: url("../assets/technology/background-technology-tablet.jpg");
    }     
    
}

@media screen and (min-width: 836px) {
    .home{
        background-image: url("../assets/home//background-home-desktop.jpg");
    }
    .destination{
        background-image: url("../assets/destination/background-destination-desktop.jpg");
    }   
    .crew{
        background-image: url("../assets/crew/background-crew-desktop.jpg");
    }  
    .technology{
        background-image: url("../assets/technology/background-technology-desktop.jpg");
    }     
}