@import "./general.css";
@import "./nav.css";
@import "./home.css";
@import "./destination.css";

*{
    margin: 0;
    padding: 0;
    font-family: var(--font-family-1);
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    width: 100vw;
    color: var(--white);
    box-sizing: border-box;
    display: grid;
    grid-template-rows: auto 1fr;
    overflow-x: hidden;
}

.home{
    background-image: url("../assets/home/background-home-mobile.jpg");
    background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
    box-sizing: border-box;
}

.destination{
    background-image: url("../assets/destination/background-destination-mobile.jpg");    background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
    box-sizing: border-box;
}


@media screen and (max-width: 735px) {

}

@media screen and (min-width: 567px) and (min-width: 736px){
    
}

@media screen and (min-width: 736px) {
    .home{
        background-image: url("../assets/home//background-home-desktop.jpg");
    }
    .destination{
        background-image: url("../assets/destination/background-destination-desktop.jpg");    background-size: 100% 100%;
    }    
}